html, body {
    margin: 0;
    height: 100%;
    text-align: left;
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica, Arial, sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
}